.main_input {
  width: 20rem;
  height: 2.6rem;
  padding: 1rem;
  outline: none;
  font-size: 0.9rem;
  border: none;
  background-color: #e4e7eb;
  border-radius: 2%;
}

.main_input::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
}
