.main_input {
  width: 25rem;
  height: 2.6rem;
  padding: 1rem;
  outline: none;
  font-size: 0.9rem;
  border: none;
  background-color: #e4e7eb;
  border-radius: 2%;
}

.main_input::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
}

.input_textarea {
  width: 25rem;
  padding: 1rem;
  outline: none;
  font-size: 0.9rem;
  border: none;
  background-color: #e4e7eb;
  border-radius: 2%;
  margin-bottom: 1rem;
  resize: none;
}

.input_textarea::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .main_input {
    width: 100%;
  }
  .input_textarea {
    width: 100%;
  }
}
