.main_button {
  width: 15rem;
  height: 2.6rem;
  background-color: #0984e3;
  outline: none;
  border: none;
  font-size: 1.3rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
