.main_navbar_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.inner_navbar_container {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.navbar_logo_container {
  display: flex;
  align-items: center;
}

.navbar_logo_container h1 {
  font-size: 2rem;
  font-weight: 300;
  margin-left: 1rem;
  color: white;
}

.navbar_user_icon {
  width: 30px;
  height: 30px;
}

.navbar_user_button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.navbar_user_profile_container {
  position: relative;
}

.dropdown_container {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.dropdown_inner_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_inner_container button {
  margin-top: 1rem;
}

.navbar_user_options {
  display: flex;
  width: 9rem;
  align-items: center;
}

.add_movie_button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.plus_icon {
  width: 30px;
  height: 30px;
  margin-right: 3rem;
}

.popcorn_icon {
  width: 30px;
  height: 30px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .add_movie_button {
    margin-right: -3rem;
    width: 9rem;
  }
  .navbar_user_options {
    width: 2.5rem;
  }
  .navbar_user_options_admin {
    width: 8.6rem;
  }
}
