.movie_modal_container {
  width: 100%;
  height: 90%;
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.movie_modal_inner_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.movie_modal_image_container {
  width: 49%;
  height: 100%;
}

.movie_modal_image {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.movie_modal_info {
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie_modal_name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.movie_modal_year_container {
  display: flex;
  align-items: center;
}

.movie_modal_year_container img {
  width: 18px;
  height: 18px;
}

.movie_modal_year {
  font-size: 1.1rem;
  font-weight: 400;
}

.movie_modal_genre_container {
  display: flex;
  font-size: 1.1rem;
  align-items: center;
  margin-top: 0.5rem;
}

.movie_modal_genre_container img {
  width: 18px;
  height: 18px;
}

.movie_modal_genre_rating_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.movie_modal_rating_container {
  display: flex;
  align-items: center;
}

.movie_modal_rating_container p {
  font-size: 1.1rem;
}

.movie_modal_rating_container img {
  width: 18px;
  height: 18px;
}

.movie_description_container {
  margin-bottom: 3rem;
}

.movie_exit_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.movie_user_rate_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  font-size: 1.5rem;
  margin: 8px;
  cursor: pointer;
  color: #292f3d;
  transition: color 0.5s;
}

.in-rate {
  color: rgba(255, 255, 0);
}

.in-hover {
  color: rgba(255, 255, 0, 0.3);
}

@media (max-width: 768px) {
  .movie_modal_inner_container {
    flex-direction: column;
  }
  .movie_modal_image_container {
    width: 100%;
    height: 100%;
  }
  .movie_modal_info {
    width: 100%;
  }
  .movie_user_rate_container {
    margin-bottom: 1rem;
  }
}

@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
